Data Visualization

In [28]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score , confusion_matrix
from sklearn.preprocessing import MultiLabelBinarizer
data = pd.read_csv('advertisement.csv')
print(data.to_string(index=False))
data.dropna()
print(data.shape)
print(data.head())
print(data.info())
print(list(data.columns))
# print(data['labels'].value_counts())

 age gender       income   education  married  children                  city  occupation  purchase_amount most bought item                                                labels
  45   Male 61271.953359      Master    False         3           Lake Sheila      Doctor        87.697118          monitor                           electronics clothing sports
  24 Female 53229.101074 High School    False         1          Crystalburgh Businessman       115.135586         lipstick                                      furniture beauty
  45 Female 30066.046684    Bachelor     True         3         Margaretburgh    Engineer       101.694559         biscuits                      clothing electronics food sports
  19   Male 48950.246384         PhD    False         0         Williamshaven      Lawyer        97.964887            maggi                                                  food
  29 Female 44792.627094      Master    False         0              New Paul Businessman        86.847281           carpet                                                  home
  20 Female 51266.767047      Master     True         3             Frankport   Scientist        95.145103           laptop                              sports electronics books
  27   Male 29578.136416    Bachelor     True         3     North Shelbyshire      Lawyer        69.022842            table                             beauty furniture clothing
  20 Female 35325.309005         PhD    False         3       South Raventown   Housewife       110.564517       dictionary                                          books beauty
  51   Male 40232.564356         PhD     True         0           Leonardtown    Salesman       107.835490         curtains                          electronics food home sports
  19   Male 48053.583882         PhD     True         0           South Susan      Artist       108.854898            chips                                        furniture food
  57 Female 60907.844629         PhD     True         0      Gutierrezborough          HR        78.831675            shoes                                         clothing home
  27 Female 51033.627935         PhD     True         2     Lake Tiffanyhaven   Scientist       138.672618            maggi                                            food books
  63   Male 53402.223923 High School    False         0              New Kara   Scientist       118.088573         curtains                                                  home
  44 Female 34683.652618      Master     True         2     West Darlenemouth    Engineer        89.101465              bat                            sports furniture food home
  51 Female 48815.172160    Bachelor    False         0       New Anthonytown    Salesman        65.797622         biscuits                                  beauty clothing food
  42 Female 40527.463149 High School    False         2              Markfurt    Engineer       101.597316           gloves                                 books clothing sports
  39   Male 57062.639298 High School    False         3             Scottberg          HR        71.080200           laptop                      electronics furniture food books
  25 Female 40668.478951 High School    False         1            South Tina Businessman       124.487105         curtains                     furniture electronics home sports
  47   Male 50144.630720    Bachelor     True         2              Dawnport   Scientist       104.373814         biscuits                                  clothing food beauty
  47 Female 50595.565055      Master     True         1            Stevenfort Businessman       112.431977            chips                                        food furniture
  36 Female 34611.512757 High School     True         1     South Jeffreyberg      Lawyer        79.246469            chips                                             home food
  62   Male 51568.493878    Bachelor    False         0          Patriciaside    Engineer       118.091506            pants                                  sports clothing home
  25 Female 46971.308307      Master    False         1          South Steven    Engineer       109.716368              bat                                         beauty sports
  64   Male 50179.189424 High School     True         3            Cherylstad Businessman        95.495828           laptop                                books electronics food
  23   Male 47586.431862      Master     True         2  South Christinashire          HR       105.257963            novel                                     electronics books
  48   Male 57660.161776         PhD     True         1       West Scottburgh   Scientist       116.655641              bed                                 furniture food sports
  57   Male 46278.466042      Master    False         3           Grahamshire    Engineer        77.012566            table                         clothing furniture food books
  50 Female 45270.638579      Master    False         0           Tracieshire    Engineer        92.149693         curtains                                             food home
  25   Male 60083.703555    Bachelor     True         0            Meadowston   Housewife       126.689393         lipstick                                      home food beauty
  64   Male 63176.029580      Master    False         0    North Lindachester   Scientist       118.546798           mobile                    sports electronics furniture books
  27   Male 61772.480702         PhD    False         2            West Sarah      Lawyer        80.258534            cream                                  beauty clothing home
  50 Female 40800.945097 High School     True         2           East Kristy  Unemployed        80.740713     encyclopedia                          books clothing sports beauty
  31 Female 57019.169559    Bachelor    False         0          Port Royport     Retired       119.808572           mobile                            electronics furniture food
  57 Female 62617.100460 High School     True         3            Floresfurt      Artist       128.026275            chair                                      furniture beauty
  37 Female 58970.417842         PhD    False         2           Timothyview     Retired        90.760070            shirt                                 clothing sports books
  53 Female 47683.671082 High School     True         0           South Julie     Retired        71.159528            chips                       food electronics clothing books
  41   Male 64472.841978         PhD     True         2          Perkinshaven   Scientist        76.948983           gloves                                     home sports books
  19   Male 46421.930830         PhD     True         2             Jamesberg Businessman       108.923005           laptop                     sports electronics furniture food
  28 Female 42792.335252    Bachelor     True         2            Wesleytown Businessman        93.007199            novel                                beauty food home books
  34 Female 50458.706952    Bachelor    False         1            Port Ralph Businessman       109.910188       dictionary                                 books clothing sports
  32   Male 43808.071942      Master     True         0            Port Ellen Businessman        97.585139           laptop                      electronics clothing home sports
  60   Male 50298.468526      Master    False         0     South Matthewport   Housewife       102.744462              bed                                    furniture clothing
  36   Male 49939.405658      Master    False         2        Melissachester     Retired       109.473849            shirt                                       clothing beauty
  30 Female 75087.875430    Bachelor     True         0            East David    Salesman       117.514230            maggi                                        food furniture
  21 Female 55900.658343    Bachelor     True         0       North Bradyview    Engineer        97.657083             sofa                       home electronics clothing books
  22   Male 43315.954892    Bachelor    False         1            Alicehaven          HR       142.189512             ball                             sports furniture clothing
  44 Female 67543.429801         PhD     True         2        South Dawnberg      Lawyer        67.325065            cream                                          beauty books
  18   Male 64144.782055      Master     True         1           Hansenburgh      Lawyer       100.012798     encyclopedia                                                 books
  46 Female 60468.953352      Master     True         2           Stephenfort  Unemployed       103.702310          monitor                              electronics beauty books
  46   Male 61425.589282      Master    False         1           Cynthiaberg      Artist       119.419312       dictionary                           furniture electronics books
  19   Male 44284.054837      Master    False         0        New Katelynton      Artist       102.889406            pants                           clothing food sports beauty
  37 Female 46212.644202    Bachelor     True         0           North James   Scientist        83.486272            maggi                                      food home sports
  58 Female 51057.893167    Bachelor     True         1         New Elizabeth    Engineer       133.761082         lipstick                                           home beauty
  59   Male 50176.119863         PhD    False         0         Joshuaborough Businessman        87.237891             ball                                                sports
  54 Female 48484.665228 High School    False         3           North Jerry    Salesman        77.034180         curtains                 beauty furniture clothing home sports
  35 Female 40317.993846 High School     True         0             Aarontown          HR       104.835738            novel                                     books electronics
  42 Female 58886.929583 High School     True         3           West Daniel    Salesman       152.104284            shirt                       electronics clothing food books
  25   Male 52708.950263         PhD    False         3            Aprilmouth          HR       108.968549            shirt                 furniture electronics clothing sports
  29 Female 52268.350643 High School    False         3           Lake Amanda          HR        83.563695           carpet                                         clothing home
  59 Female 47076.585366         PhD    False         3             Popehaven  Unemployed       127.547936       dictionary                                            food books
  33 Female 63572.503025      Master     True         2             Donnabury      Lawyer       120.039730             sofa                               home electronics beauty
  45   Male 58858.477095      Master    False         0      East Ashleymouth     Retired        89.298089            maggi      sports furniture clothing food home beauty books
  19 Female 50332.892201 High School    False         2        Chelseachester Businessman       120.837078             ball                                         beauty sports
  24 Female 44552.098947 High School    False         0          North Andrew    Engineer       121.685146       dictionary                                            books home
  44 Female 42183.725846      Master    False         1              Hahnview      Doctor        80.536493           mobile                                 electronics furniture
  30   Male 54987.277767 High School    False         2             East Anna    Salesman        62.242095              bed                                        furniture food
  44   Male 68786.931118         PhD    False         0              Kingside    Salesman       133.827860            shoes                                              clothing
  46 Female 39312.647642      Master    False         1           Padillaland          HR       112.164650         lipstick                                 food furniture beauty
  46 Female 40586.188383    Bachelor    False         1         Martinezmouth      Doctor       108.018873            novel               home electronics furniture beauty books
  37 Female 43664.679377         PhD     True         0            Mariemouth     Retired       108.957984              bat                                    sports electronics
  30   Male 51386.376828      Master     True         3            Eugenefort      Doctor        86.468988            novel                                          beauty books
  49 Female 60730.377787      Master     True         0     West Gwendolynton    Salesman       105.168194              bat                    books electronics food home sports
  59   Male 43437.665277    Bachelor    False         1        North Lisaport      Artist        70.932183          monitor                                           electronics
  57 Female 59157.507783 High School    False         0        Johnsonborough   Scientist       119.540709            chips                                   furniture food home
  63   Male 38978.554922    Bachelor     True         0              Rushside    Salesman        94.201890         lipstick               clothing electronics food sports beauty
  48   Male 59511.362848         PhD     True         3          South Nicole      Lawyer       117.153879            table                                  food furniture books
  59 Female 27444.718354         PhD    False         0          South Krista   Housewife        71.062235       dictionary                      home electronics furniture books
  28 Female 36344.056143    Bachelor    False         1     West Kimberlyview   Scientist       119.720852           gloves                                          sports books
  54   Male 39234.475402         PhD     True         3          North Robert          HR       111.320021           carpet                                           beauty home
  28   Male 37749.203671      Master    False         3         Michelleville   Housewife       107.202780            chair                    books electronics furniture beauty
  26   Male 69052.163203 High School     True         3            Dunlapside    Engineer       107.779869         lipstick                                    electronics beauty
  60   Male 61633.954999 High School     True         3          Stephensside      Doctor        92.098424           mobile                                 furniture electronics
  57   Male 38620.059718    Bachelor     True         1           North Jason     Retired       148.792771            pants                                       clothing beauty
  54   Male 38425.712976    Bachelor    False         3         New Juanhaven      Doctor        69.443481     encyclopedia                                            food books
  39 Female 45885.227816         PhD     True         3          West Amyberg          HR       107.941510           carpet                                                  home
  39 Female 62148.036992    Bachelor    False         2          North Sydney    Salesman       109.619903           carpet                                     sports home books
  61 Female 49355.042834      Master     True         0           West Martha      Artist        86.603423         lipstick                               beauty electronics home
  34   Male 54599.183571 High School     True         1            Austinview          HR        73.152606            novel                                                 books
  31   Male 50614.653945      Master     True         0            Sampsonton  Unemployed       101.570090           laptop                           electronics clothing sports
  59   Male 59036.061940      Master     True         2      South Gordonfort      Lawyer       102.110357            table                               furniture sports beauty
  28   Male 50445.154122    Bachelor     True         1           Estradaview      Lawyer        83.593109            shoes                      clothing electronics food beauty
  62 Female 43882.131763 High School    False         3         South Kristen  Unemployed       130.201356            chips                                    food clothing home
  42 Female 56639.407246    Bachelor    False         3         Charleneville    Engineer       109.070753            novel                                            home books
  59   Male 34965.861893         PhD     True         0             Juliatown     Retired        85.793613             ball                                                sports
  57 Female 72345.800985    Bachelor    False         3       North Mistyfort      Lawyer        80.335840              bed                               beauty furniture sports
  42 Female 55035.687906    Bachelor     True         3           Bradleyfort Businessman        65.477552           laptop                                     books electronics
  20 Female 34251.088242      Master    False         3       East Blakeshire          HR       102.576678       dictionary                  electronics furniture clothing books
  29   Male 64631.570991 High School     True         0         Jonathanburgh          HR        96.455623            chair                                 furniture electronics
  18 Female 59967.794316    Bachelor    False         2      Port Shellymouth  Unemployed       136.662120            shirt                                              clothing
  20   Male 54805.897292    Bachelor    False         0           Anthonystad          HR       106.765312            maggi                                                  food
  64   Male 45154.218257    Bachelor    False         2              Buckview    Engineer       130.962841           mobile                           home electronics food books
  41   Male 47743.070896    Bachelor     True         1      South Harryhaven   Housewife       101.391778             ball                                                sports
  38 Female 58398.341524      Master     True         3          Christiestad     Retired       106.815767            novel                                          beauty books
  63   Male 47029.707512 High School     True         1        Port Emilyfort      Doctor       103.820400         biscuits                                  books furniture food
  56   Male 37581.200083         PhD     True         1            Danielfurt Businessman       105.698790            novel                                     electronics books
  19 Female 50207.088188    Bachelor     True         1           Lake Summer      Artist       117.083159            chair                                        furniture food
  37   Male 36177.548601      Master    False         1              Mossbury   Scientist        75.097592            shirt                                       clothing beauty
  53 Female 52297.724758         PhD    False         3     North Thomashaven   Scientist       124.574363            maggi                               food electronics sports
  42   Male 28861.045758    Bachelor     True         3       East Michaelton    Salesman        97.134057         curtains                                           home beauty
  30   Male 47752.483749      Master     True         1         West Jennifer      Lawyer       112.353331            table                                      sports furniture
  26   Male 55388.503912         PhD    False         3             Lindaland      Artist       121.244810            shirt                                  beauty clothing food

Data preprocessing

In [29]:
data.dropna(inplace=True)

Data featurization

In [30]:
categorical_features = ['gender', 'education', 'married', 'city', 'occupation', 'most bought item']
numerical_features = ['age', 'income', 'children', 'purchase_amount']
target_columns = ['labels']
one_hot_encoding = pd.get_dummies(data,columns=categorical_features)
# print(one_hot_encoding.head())

Train val test splitting - MultiOutput Setting

In [31]:
X = one_hot_encoding.drop('labels',axis=1)
y = one_hot_encoding['labels']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
print(y_train)
# y_train = y_train.str.get_dummies(sep=' ')
# y_test = y_test.str.get_dummies(sep=' ')
mlb = MultiLabelBinarizer()
print(y_train.str.split(' '))
print(y_test.str.split(' '))
y_train = mlb.fit_transform(y_train.str.split(' '))
y_test = mlb.transform(y_test.str.split(' '))
print(list(mlb.classes_))
print(y_train)
# print(y_test)
criterion = 'gini' 
clf = DecisionTreeClassifier(criterion=criterion)
clf.fit(X_train,y_train)
predicted_labels = clf.predict(X_test)
print(predicted_labels)
accuracy = accuracy_score(y_test,predicted_labels)
print(f'Validation Accuracy: {accuracy:.2f}')
print(list(mlb.classes_))

29           sports electronics furniture books
535                                       books
695                                       books
557                          sports electronics
836                home electronics food beauty
                         ...
106                             clothing beauty
270    beauty electronics furniture food sports
860                     home food sports beauty
435                              food furniture
102                                beauty books
Name: labels, Length: 800, dtype: object
29            [sports, electronics, furniture, books]
535                                           [books]
695                                           [books]
557                             [sports, electronics]
836                 [home, electronics, food, beauty]
                            ...
106                                [clothing, beauty]
270    [beauty, electronics, furniture, food, sports]
860                      [home, food, sports, beauty]
435                                 [food, furniture]
102                                   [beauty, books]
Name: labels, Length: 800, dtype: object
521            [furniture, electronics, beauty, books]
737                                 [furniture, books]
740                              [home, beauty, books]
660         [home, electronics, sports, beauty, books]
411                [food, furniture, clothing, beauty]
                            ...
408                                [electronics, home]
332                           [home, furniture, books]
208    [electronics, furniture, clothing, food, books]
613                                     [sports, home]
78                                      [beauty, home]
Name: labels, Length: 200, dtype: object
['beauty', 'books', 'clothing', 'electronics', 'food', 'furniture', 'home', 'sports']
[[0 1 0 ... 1 0 1]
 [0 1 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 ...
 [1 0 0 ... 0 1 1]
 [0 0 0 ... 1 0 0]
 [1 1 0 ... 0 0 0]]
[[0 1 0 ... 0 0 0]
 [0 1 0 ... 1 0 0]
 [0 1 1 ... 0 0 0]
 ...
 [1 0 1 ... 0 0 0]
 [0 1 0 ... 0 1 1]
 [0 1 1 ... 0 1 0]]
Validation Accuracy: 0.04
['beauty', 'books', 'clothing', 'electronics', 'food', 'furniture', 'home', 'sports']

Hyperparameter Tuning - MultiOutput Setting

In [32]:
criterion = ['gini','entropy']
max_depths = [3,5,10,20,30]
max_features = [3,5,7,9,11]
tuples = []
for criteria in criterion:
    for depth in max_depths:
        for feature in max_features:
            DT = DecisionTreeClassifier(criterion=criteria,max_features=feature,max_depth=depth)
            clf.fit(X_train,y_train)
            predicted_labels = clf.predict(X_test)
            accuracy = accuracy_score(y_test,predicted_labels)
            f1_micro = f1_score(y_test, predicted_labels, average='micro')
            f1_macro = f1_score(y_test, predicted_labels, average='macro')
            precision = precision_score(y_test, predicted_labels, average='macro',zero_division=0)
            recall = recall_score(y_test, predicted_labels, average='macro',zero_division=0)
            Confusion_matrix = confusion_matrix(y_test.argmax(axis=1),predicted_labels.argmax(axis=1))
            tuples.append((criteria,depth,feature,accuracy,f1_micro,f1_macro,precision,recall,Confusion_matrix))
# (accuracy,f1_micro,f1_macro,precision,recall)
df = pd.DataFrame(tuples, columns=['Criteria','Max-Depth','Max-features','Accuracy', 'f1_micro_score', 'f1_macro_score', 'precision','recall','Confusion_matrix'])
# print(df.to_string(index=False))
sorted_f1_micro_tuples = sorted(tuples, key=lambda x: x[4], reverse=True)
sorted_f1_macro_tuples = sorted(tuples, key=lambda x: x[5], reverse=True)
top_f1_micro_tuples = sorted_f1_micro_tuples[:3]
top_f1_macro_tuples = sorted_f1_macro_tuples[:3]
print('----------------------------')
print('Top 3 performing set of hyperparamters according to F1-micro Score')
df = pd.DataFrame(top_f1_micro_tuples, columns=['Criteria','Max-Depth','Max-features','Accuracy', 'f1_micro_score', 'f1_macro_score', 'precision','recall','Confusion_matrix'])
print(df.to_string(index=False))
print('----------------------------')
print('Top 3 performing set of hyperparamters according to F1-macro Score')
df = pd.DataFrame(top_f1_macro_tuples, columns=['Criteria','Max-Depth','Max-features','Accuracy', 'f1_micro_score', 'f1_macro_score', 'precision','recall','Confusion_matrix'])
print(df.to_string(index=False))

----------------------------
Top 3 performing set of hyperparamters according to F1-micro Score
Criteria  Max-Depth  Max-features  Accuracy  f1_micro_score  f1_macro_score  precision   recall                                                                                                                                                                                                      Confusion_matrix
 entropy         30             5     0.065        0.544046        0.540727   0.553501 0.529774 [[38, 13, 7, 8, 1, 1, 0, 0], [11, 21, 4, 3, 1, 4, 0, 2], [7, 1, 12, 2, 0, 2, 0, 3], [5, 1, 2, 8, 2, 3, 0, 1], [4, 2, 3, 1, 3, 1, 2, 2], [1, 4, 1, 0, 1, 1, 0, 0], [2, 1, 0, 0, 1, 0, 1, 0], [1, 1, 0, 0, 0, 1, 0, 3]]
    gini          3            11     0.055        0.536204        0.531086   0.549391 0.515380 [[35, 10, 11, 5, 3, 2, 1, 1], [10, 24, 5, 2, 1, 1, 1, 2], [8, 3, 8, 2, 0, 3, 0, 3], [5, 2, 3, 7, 2, 2, 0, 1], [3, 1, 2, 0, 5, 1, 4, 2], [1, 3, 1, 0, 1, 1, 0, 1], [1, 1, 0, 0, 1, 1, 1, 0], [1, 1, 1, 0, 0, 0, 0, 3]]
 entropy         20             9     0.055        0.535509        0.533602   0.543476 0.526624  [[37, 10, 8, 9, 3, 0, 0, 1], [9, 21, 7, 4, 1, 1, 1, 2], [8, 1, 11, 1, 3, 1, 0, 2], [5, 1, 3, 8, 2, 2, 0, 1], [3, 1, 2, 1, 5, 1, 3, 2], [1, 3, 1, 0, 0, 2, 0, 1], [2, 1, 0, 0, 1, 1, 0, 0], [1, 1, 1, 0, 0, 0, 0, 3]]
----------------------------
Top 3 performing set of hyperparamters according to F1-macro Score
Criteria  Max-Depth  Max-features  Accuracy  f1_micro_score  f1_macro_score  precision   recall                                                                                                                                                                                                      Confusion_matrix
 entropy         30             5     0.065        0.544046        0.540727   0.553501 0.529774 [[38, 13, 7, 8, 1, 1, 0, 0], [11, 21, 4, 3, 1, 4, 0, 2], [7, 1, 12, 2, 0, 2, 0, 3], [5, 1, 2, 8, 2, 3, 0, 1], [4, 2, 3, 1, 3, 1, 2, 2], [1, 4, 1, 0, 1, 1, 0, 0], [2, 1, 0, 0, 1, 0, 1, 0], [1, 1, 0, 0, 0, 1, 0, 3]]
 entropy         20             9     0.055        0.535509        0.533602   0.543476 0.526624  [[37, 10, 8, 9, 3, 0, 0, 1], [9, 21, 7, 4, 1, 1, 1, 2], [8, 1, 11, 1, 3, 1, 0, 2], [5, 1, 3, 8, 2, 2, 0, 1], [3, 1, 2, 1, 5, 1, 3, 2], [1, 3, 1, 0, 0, 2, 0, 1], [2, 1, 0, 0, 1, 1, 0, 0], [1, 1, 1, 0, 0, 0, 0, 3]]
 entropy          3            11     0.045        0.535403        0.533154   0.549700 0.520902   [[36, 15, 7, 7, 2, 1, 0, 0], [9, 25, 2, 3, 1, 3, 1, 2], [9, 5, 8, 2, 2, 0, 0, 1], [6, 2, 2, 6, 3, 2, 0, 1], [3, 1, 2, 1, 5, 0, 4, 2], [1, 4, 2, 0, 0, 1, 0, 0], [2, 1, 0, 0, 0, 1, 1, 0], [1, 1, 1, 0, 0, 0, 0, 3]]